extends ../includes/layout.pug
block variables
  - var pageTitle = "About"
  - 
    var sideNavButtons = [
      "about/About",
      "about/Skills",
      "about/Experience"
    ]
block content
  h1 welcome
  p howdy there, welcome to my portfolio or something