extends ../includes/layout.pug
block variables
  - var pageTitle = "Projects"
  - 
    var sideNavButtons = [
      "projects/Fleets",
      "projects/Retrograde",
      "projects/Portfolio",
      "projects/XP Font",
      "projects/Bonk Bot",
      "projects/PowerShell Scripts",
    ]

block content
  h1 projects
  p stuff I've done/worked on