extends ../includes/layout.pug
block variables
  - var pageTitle = "Server"
  - 
    var sideNavButtons = [
      "server/Specs",
      "server/VMs"
    ]
block content
  h1 jellyserv
  p personal server running proxmox