extends ../../includes/projects/template.pug
block projectVariables
  - var projectName = "Retrograde"
  - 
    var projectOverviewList = [
    ]
  - 
    var projectDetailsImages = [
    ]
block projectIntro
  p Blah blah

block projectOverview
  p Overview text
block projectDetails
  p details text`
block projectLinks
  a(href="https://github.com/JellyBlade/fleets") GitHub