extends ../../views/projects.pug
block append variables
  block projectVariables
    - var projectName = "Project Title"
    - 
      var projectOverviewlist = [
        "Overview of project 1",
        "Overview of project 2",
        "Overview of project 3",
        "Overview of project 4"
      ]
    - 
      var projectDetailsImages = [
        "http://placekitten.com/100/100",
        "http://placekitten.com/100/100",
        "http://placekitten.com/100/100",
        "http://placekitten.com/100/100"
      ]
block content
  h1 #{projectName}
  block projectIntro
  h2 Overview
  ul
    for val in projectOverviewList
      li=val
  block projectOverview
  h2 Details
  if projectDetailsImages
    #gallery
      for image in projectDetailsImages
        +imageGallery(image)
  block projectDetails
  h2 Links
  block projectLinks